body {
  margin: 0;
  font-family: "Inter", "Lato", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: '100vw';
  overflow-x: hidden;
  background-color: #00223a;
  color:#FFFFFF;
}

code {
  font-family: "Inter", "Lato", helvetica, arial, sans-serif;
}
